<div class='pure-u-1 edit-section'>
  <form class='pure-form pure-form-aligned'>
    <fieldset>
      <legend>{{title}}</legend>

      <div class='pure-control-group input-group'>
        <label for='first-name'>First Name</label>
        {{input type='text' placeholder='First Name' value=content.firstName}}
        {{#if (get content.error 'firstName')}}
          <small> {{get (get content.error 'firstName') "validation"}} </small>
        {{/if}}
      </div>

      <div class='pure-control-group input-group'>
        <label for='last-name'>Last Name</label>
        {{input type='text' placeholder='Last Name' value=content.lastName}}
      </div>

      <div class='pure-control-group input-group'>
        <label for='email'>Email</label>
        {{input type='text' placeholder='Email' value=content.email}}
      </div>

      <div class='pure-control-group input-group'>
        <label for='twitter'>Twitter</label>
        {{input type='text' placeholder='Twitter' value=content.twitter}}
      </div>

      <div class='pure-control-group input-group'>
        <label for='github'>Github</label>
        {{input type='text' placeholder='Github' value=content.github}}
      </div>

      <button class='button-small button-primary pure-button' {{action 'save' content}} disabled={{content.isInvalid}}>Save Changes to Model</button>

      <button class='button-small button-primary pure-button' {{action 'rollback' content}}>Undo Changes</button>
    </fieldset>
  </form>
</div>
