<div class='pure-u-1 edit-section'>
  <form class='pure-form pure-form-aligned'>
    <fieldset>
      <legend>{{title}}</legend>

      <div class='pure-control-group'>
        <label for='first-name'>First Name</label>
        {{input type='text' id='first-name' placeholder='First Name' value=content.firstName}}
      </div>

      <div class='pure-control-group'>
        <label for='last-name'>Last Name</label>
        {{input type='text' id='last-name' placeholder='Last Name' value=content.lastName}}
      </div>

      <div class='pure-control-group'>
        <label for='email'>Email</label>
        {{input type='text' id='email' placeholder='Email' value=content.email}}
      </div>

      <div class='pure-control-group'>
        <label for='twitter'>Twitter</label>
        {{input type='text' id='twitter' placeholder='Twitter' value=content.twitter}}
      </div>

      <div class='pure-control-group'>
        <label for='github'>Github</label>
        {{input type='text' id='github' placeholder='Github' value=content.github}}
      </div>

      <div class='pure-control-group'>
        <button class='button-small button-primary pure-button' {{action 'save' content}} disabled={{content.isInvalid}}>Save Changes to Model</button>
      </div>

      <div class='pure-control-group'>
        <button class='button-small button-primary pure-button' {{action 'rollback' content}}>Undo Changes</button>
      </div>
    </fieldset>
  </form>
</div>
