<div class='pure-u-1 edit-section'>
  <form class='pure-form pure-form-aligned'>
    <fieldset>
      <legend>{{title}}</legend>

      {{#with (changeset content validations) as |changeset|}}
        <div class='pure-control-group'>
           {{validated-field
              type="text"
              changeset=changeset
              property="firstName"
              validateProperty=(action "validateProperty" changeset "firstName")
            }}
        </div>

        <div class='pure-control-group'>
           {{validated-field
              type="text"
              changeset=changeset
              property="lastName"
              validateProperty=(action "validateProperty" changeset "lastName")
            }}
        </div>

        <div class='pure-control-group'>
           {{validated-field
              type="text"
              changeset=changeset
              property="email"
              validateProperty=(action "validateProperty" changeset "email")
            }}
        </div>

        <div class='pure-control-group'>
           {{validated-field
              type="text"
              changeset=changeset
              property="twitter"
              validateProperty=(action "validateProperty" changeset "twitter")
            }}
        </div>

        <div class='pure-control-group'>
           {{validated-field
              type="text"
              changeset=changeset
              property="github"
              validateProperty=(action "validateProperty" changeset "github")
            }}
        </div>

        <button class='button-small button-primary pure-button' {{action 'save' changeset}} disabled={{changeset.isInvalid}}>Save Changes to Model</button>

        <button class='button-small button-primary pure-button' {{action 'rollback' changeset}}>Undo Changes</button>
      {{/with}}
    </fieldset>
  </form>
</div>
