<div class='pure-u-1 edit-section'>
  <form class='pure-form pure-form-aligned'>
    <fieldset>
      <legend>{{title}}</legend>

      <div class='pure-control-group'>
        <label for='name'>First Name</label>
        <div class='value'>{{content.firstName}}</div>
      </div>

      <div class='pure-control-group'>
        <label for='name'>Last Name</label>
        <div class='value'>{{content.lastName}}</div>
      </div>

      <div class='pure-control-group'>
        <label for='name'>Email</label>
        <div class='value'>{{content.email}}</div>
      </div>

      <div class='pure-control-group'>
        <label for='name'>Twitter</label>
        <div class='value'>{{content.twitter}}</div>
      </div>

      <div class='pure-control-group'>
        <label for='name'>Github</label>
        <div class='value'>{{content.github}}</div>
      </div>
    </fieldset>
  </form>
</div>
